@use "../presets" as *;

.indicators {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
  margin: 0px;
  bottom: 18px;
  z-index: 10;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 50%;
  max-width: 10px;
  max-height: 10px;
  cursor: pointer;
  user-select: none;

  background-color: $color-secondary;
  font-size: 0.75rem;

  &.active {
    background-color: $color-accent;
  }

  &:hover {
    transform: scale(1.1);
  }
}
